# {{ title }}

Usage:

```bash
# Without Nix
copier copy --trust "https://github.com/{{ github_repo }}.git" <destination>

# With Nix
nix run "github:{{ github_repo }}" -- copy --trust <destination>
```
